.projectsListWrap {

  display: flex;
  justify-content: center;

  .projectsList {
    list-style: none;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      color: white;
      background-color: #1f2124;
      border-radius: 5px;
      width: 350px;
      padding: 10px;
      margin: 20px;
    }
  }
}

.linkWrap {
  margin: 15px 0 10px 0;
  width: 100%;
  text-align: end;
  a{
    color: #f6b352;
    font-weight: bold;
    &:hover{
      color: #936f33;
    }
    &:visited {
      color: #f6b352;
      font-weight: bold;
    }
  }
}

.span {
  font-weight: 500;
  color: #f6b352;
  margin-right: 5px;
}

.projectDetails {
  width: 500px;
  background-color: #1f2124;
  color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;


  .box {
    display: grid;
    grid-template-areas: "id id"
    "user name"
    "time time"
    "note note"
    "null btn";

    p{
      padding: 10px;
    }
  }

  .ID {
    grid-area: id;
  }

  .name {
    grid-area: name;
  }

  .user {
    grid-area: user;
    margin-right: 20px;
  }

  .time {
    grid-area: time;
  }

  .note {
    grid-area: note;
  }
}

.popup {
  width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #1f2124;
}

.editBtn{
  grid-area: btn;
  border: none;
  background-color: #f6b352;
  font-weight: bold;
  &:hover{
    cursor: pointer;
    background-color: #936f33;
  }
}