.projectsListWrap {

  display: flex;
  justify-content: center;

  .projectsList {
    list-style: none;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;

    li {
      color: white;
      background-color: #11115d;
      width: 350px;
      height: 150px;
      padding: 10px;
      margin: 20px;

      a {
        color: white;
        font-weight: bold;

        :visited {
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

.projectDetails {
  background-color: bisque;
  display: flex;
  justify-content: center;

  .span {
    font-weight: bold;
    margin-right: 5px;
  }

  .box {
    display: grid;
    grid-template-areas: "id id"
    "user name"
    "time time"
    "note note";
  }

  .ID {
    grid-area: id;
  }

  .name {
    grid-area: name;
  }

  .user {
    grid-area: user;
    margin-right: 20px;
  }

  .time {
    grid-area: time;
  }

  .note {
    grid-area: note;
  }
}